<center><section data-ng-controller="AnnoncesController" data-ng-init="findOne()" >
	  <div class="page-header">
        <h1 class="well" <!--style=" background: #E9B74A"-->Update And Delete Annonces</h1>
    </div>
	<form class="form-horizontal">
     <fieldset>
    <!--<legend>Update And Delete Annonces</legend>-->
    <label>Description</label>
    <div class="well"  style="width: 300px; <!--background: #C8998D-->"><input  type="text" class="form-control" data-ng-model="annonce.name"></div><br />
    
    <label>Adresse</label>
    <div class="well" style="width: 300px; <!--background: #D69E90-->"><input  type="text" class="form-control" data-ng-model="annonce.adresse" ></div><br />
    
    <label>Code Postale</label>
    <div class="well" style="width: 300px; <!--background: #D4A69A-->"><input  type="text" class="form-control" data-ng-model="annonce.codepostale" ></div><br />
    
    <label>Region</label>
    <div class="well" style="width: 300px; <!--background: #D2ABA1-->"><input  type="text" class="form-control" data-ng-model="annonce.region" ></div><br />
    
    <label>Ville</label>
    <div class="well" style="width: 300px; <!--background: #D0B0A8-->"><input  type="text" class="form-control" data-ng-model="annonce.ville" ></div><br />
    
    <label>Type</label>
    <div class="well" style="width: 300px; <!--background: #CEB7B1-->"><input  type="text" class="form-control" data-ng-model="annonce.type" ></div><br/><br />
    
    <label>Piece</label>
    <div class="well" style="width: 300px; <!--background: #CCBCB8-->"><input  type="text" class="form-control" data-ng-model="annonce.piece" ></div><br/><br />
    
    <label>Prix</label>
    <div class="well" style="width: 300px; <!--background: #C8BEBC-->"><input  type="text" class="form-control" data-ng-model="annonce.prix" ></div><br/><br />
    
    <label>Date</label>
    <div class="well" style="width: 300px; <!--background: #BFBDBC-->"><input  type="text" class="form-control" data-ng-model="annonce.date" ></div><br/><br />
    </fieldset>
    </form>

	<!--<div class="page-header" align="left">
		
		       <h1 data-ng-bind="annonce.name"></h1>
		        <h1 data-ng-bind="annonce.adresse"></h1>
               <h1 data-ng-bind="annonce.codepostale"></h1>
               <h1 data-ng-bind="annonce.region"></h1>
               <h1 data-ng-bind="annonce.ville"></h1>
               <h1 data-ng-bind="annonce.type"></h1>
               	<h1 data-ng-bind="annonce.piece"></h1>
               <h1 data-ng-bind="annonce.prix"></h1>
              <h1 data-ng-bind="annonce.date"></h1>
               
	</div>-->
	
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == annonce.user._id))" style="width: 300px">
		<a class="btn btn-primary" href="/#!/annonces/{{annonce._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="annonce.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="annonce.user.displayName"></span>
			<span id="annoncImmo" ></span>
		</em>
	</small>
	<carteview></carteview>
</section>
</center>



<!--<section data-ng-controller="annonceController" data-ng-init="find()">
<div id="map"></div>
</section>-->

