<center><table border=0><tr><td>      
Cliquer Sur le ID de Building à lister ou saisie le :
<form class="form-signin"action="/list_advert" method = "get">

      <input type="text" class="form-control" placeholder="IDBuilding" name = "IDBuilding_s" autofocus>
      <input type="hidden" name="id_building" id="id_building" value="">
      <br><input type="submit" value="envoyer" id="gobutton">
      </form>

</td><td >
	<center>
			<div id="svg1">
			</div>
        </center>

	  <script src="components/jquery/jquery.min.js"></script> 
	  <script src="components/lodash/dist/lodash.min.js"></script>
	  <script src="components/d3/d3.js"></script>
	  <script src="script/shape.js"></script>
	  <script src="script/client.js"></script>

</td></tr></table></center>
