<section data-ng-controller="HomeController"><br /> <br />
	<div >
				<img src="modules/core/img/brand/im.jpg" />

	</div>
	<div class="module-title">
		<h2 class="title">Apartment Styles</h2></div><br />
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>Luxury Property</strong>
			</h2>
			<img src="modules/core/img/brand/1698b847c2e4fe98c05adcdc9d420590_XS.jpg" alt="Luxury Property">
		</div>
		<div class="col-md-3">
			<h2>
				<strong>Corporate</strong>
			</h2>
			<img src="modules/core/img/brand/d6086de322f98f66cc694f32ea284557_XS.jpg" alt="Corporate">
		</div>
		<div class="col-md-3">
			<h2>
				<strong>Vacation Rentals</strong>
			</h2>
			<img src="modules/core/img/brand/245effadf41c6129f4fe7accc564ef86_XS.jpg" alt="Vacation Rentals">
		</div>
		<div class="col-md-3">
			<h2>
				<strong>Student Living</strong>
			</h2>
			<img src="modules/core/img/brand/5483e331a9bace540b3a2478fc014e25_XS.jpg" alt="Student Living">
		</div>
	</div><br />
	<div class="well">
		<h2>Welcome guest!</h2>
		<h3 class="catItemTitle">
								
					Offering a huge database of apartments for rent!				
				
							</h3>
		<div class="catItemBody">
	
					<div class="catItemIntroText">
				<span class="color">Est omnis dolore sereles massa est feipsum.</span>
<p>Etoaureru moms odes necessin tatibus saepe eveniet redumsa Etoluptastusu usandaefel Itaque massa earumumelreruhic tene massaturam savi. Reiciendis vptatibus ass maiores alias.Asperiores repellat aurerum odes necessbsaepe eveniet utoluptates estu usanda aque. Est omnis doloresereledus etoaurerumoms odesnecessi tatibus saepe eveniet redums...</p>
			</div>
	</div>
</section>